* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

body {
  background: #0e0e0e;
}

.grid-container {
  display: grid;
  grid: auto auto auto / auto;
}

a {
  text-decoration: none;
  color: white;
}

/* Header */

header {
  grid-row: 1;
}

header nav {
  display: flex;
  flex-wrap: nowrap;
}

header nav ul li {
  height: 100%;
}

header nav ul li a{
  padding: 1rem;
}

header nav form {
  display: grid;
  grid-template: auto / auto 70% 20%;
}

header nav form input {
  padding: 1rem;
}

header nav form select {
  padding: 1rem;
  border: none;
  background: none;
  color: white; 
  background: rgba(110, 110, 110, 0.5);
  border: transparent 1px solid;
  border-end-start-radius: 0.5rem;
  border-start-start-radius: 0.5rem;
}

header nav form .form-content {
  background: rgba(110, 110, 110, 0.5);
  border: transparent 1px solid;
}

header nav form .form-submit {
  border-end-end-radius: 0.5rem;
  border-start-end-radius: 0.5rem;
  background: rgba(110, 110, 110, 0.5);
  border: transparent 1px solid;
  color: white;
}



/* Main */

main {
  grid-row: 2;
  background: #0e0e0e;
}

main .banner {
  height: 20vh;
  background: #0e0e0e;
}

main .banner p {
  color: white;
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
}

main .article-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main .article-form input {
  background: rgba(110, 110, 110, 0.5);
  border: transparent 1px solid;
  border-end-start-radius: 0.5rem;
  border-start-start-radius: 0.5rem;
  padding: 1rem;
  color: white;
}

main .article-form a {
  font-size: 0.9rem;
  padding: 1rem;
  border-end-end-radius: 0.5rem;
  border-start-end-radius: 0.5rem;
  background: rgba(110, 110, 110, 0.5);
  border: transparent 1px solid;
}

main .article-msg article {
  display: grid;
  grid-template: auto / auto auto 70% auto;
  border: solid 1px black;
  margin: 1rem;
  border-radius: 0.5rem;
  background: rgba(34, 34, 34, 0.5);
}

main .article-msg article p {
  padding: 1rem;
  color: white;
}

main .article-msg article button {
  grid-column: 4;
}

main .article-msg article form {
  grid-column: 1 / 4;
}

main .article-msg article .msg-content {
  grid-row: 1;
  grid-column: 3;
}

/* Footer */

footer {
  grid-row: 3;
}

@media (min-width: 500px) {
  main .banner {
    height: 60vh;
    background: url('../img/banner/1024x800.png');
    background-size: cover;
    background-position: top;
  }
}

@media (min-width: 1300px) {
  main .banner {
    height: 60vh;
    background: url('../img/banner/1920x1200.png');
    background-size: cover;
    background-position: top;
  }
}

@media (min-width: 1920px) {
  main .banner {
    height: 60vh;
    background: url('../img/banner/2560x1600.png');
    background-size: cover;
    background-position: top;
  }
}
